/*reset css*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol, ul, li, menu {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------------------------------------*/
.form {
  max-width: 34.375rem;
  margin: 0rem auto;
  color: antiquewhite;
  padding: 1.875rem 0;
}
.form_body {
  padding: 1rem 1rem;
  background-color: rgb(174, 170, 141);
}
.form_title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0rem 0rem 1.875rem 0rem;
}
.form_item {
  margin: 0rem 0rem 1.3rem 0rem;
}
.form_label {
  font-size: 1.125rem;
  display: block;
  margin: 0rem 0rem 0.6rem 0rem;
}
.form_input {
  height: 3.125rem;
  padding: 0rem 1.25rem;
  border-radius: 0.3125rem;
  width: 100%;
  font-size: 1.125rem;
}
.form textarea {
  min-height: 7.5rem;
  resize: vertical;
  padding: 1rem;
}